$dark-theme-palette: (
  50: #202124,
  100: #202124,
  200: #202124,
  300: #202124,
  400: #202124,
  500: #202124,
  600: #202124,
  700: #202124,
  800: #202124,
  900: #202124,
  A100: #202124,
  A200: #202124,
  A400: #202124,
  A700: #202124,
  contrast: (
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #fff,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  ),
);
