@use "/src/scss/variables/variables.scss" as vars;

.mat-sidenav-container.mat-drawer-container {
  background-color: inherit;
}

div.mat-drawer-inner-container {
  overflow-x: hidden;
}

.mat-drawer-opened.mat-drawer {
  padding: 0 10px;
  background-color: vars.$background-color;
  border-right-color: vars.$background-tint;
  &.drawer-small {
    width: 100%;
  }
  &__details-drawer--screen {
    &-xlarge,
    &-large {
      width: 1070px;
    }
    &-xsmall,
    &-small,
    &-medium {
      width: 100%;
      padding: 0;
    }
  }
}
