@use "/src/scss/variables/variables.scss" as vars;

.mat-sidenav-container.mat-drawer-container {
  background-color: inherit;
}

div.mat-drawer-inner-container {
  overflow-x: hidden;
}

.mat-drawer.mat-drawer-opened {
  padding: 0 10px;
  background-color: vars.$background-color;
  border-right-color: vars.$background-tint;
}

.drawer-container__height-full {
  height: 100%;
}
