@use "/src/scss/variables/variables.scss" as vars;

.form__form-field__search-input {
  background-color: vars.$background-tint;
  border-radius: 28px 0 0 28px;
  width: 100%;
  & .mat-mdc-form-field-flex {
    align-items: center;
    & .mat-mdc-form-field-text-prefix {
      display: inherit;
    }
  }
  & .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple {
    &::before {
      border-bottom: none;
    }
    &::after {
      border-bottom: none;
    }
  }
}

mat-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  --mdc-filled-text-field-container-color: vars.$background-tint;
  --mdc-filled-text-field-label-text-color: #e8eaed;
  --mdc-filled-text-field-focus-label-text-color: #e8eaed;
}

.form__filter-form-field {
  border-radius: 8px;
  margin: 5px 0;
  background-color: vars.$background-tint;
}

.mat-mdc-form-field {
  &.mat-form-field--small {
    width: 70px;
  }
  &.mat-form-field--number--no-arrows {
    /* Chrome, Safari, Edge, Opera */
    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    & input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
