@use "/src/scss/variables/variables.scss" as vars;

mat-toolbar {
  height: vars.$header-height;
  justify-content: space-between;
  & app-logo {
    flex: 1;
  }
  & app-search-cards {
    flex: 3;
  }
  & .toolbar__filter-btn {
    border-radius: 0 28px 28px 0;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: vars.$header-search-input-height;
    background-color: vars.$background-tint;
    & .toolbar__filter-btn__text {
      font-size: large;
    }
  }
  & .toolbar__shopping-cart-btn {
    flex: 1;
    text-align: right;
  }
}

:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
