@use "/src/scss/variables/variables.scss" as vars;

.toolbar {
  height: vars.$header-height;
  justify-content: space-between;
  &-section {
    flex: 1;
    &--large {
      flex: 2;
    }
  }
  &--mobile {
    padding: 0;
  }
  &__search-container {
    flex: 3;
    display: flex;
    justify-content: center;
    &__input {
      &--screen {
        &-xlarge,
        &-large,
        &-medium,
        &-small,
        &-xsmall {
          width: 100%;
        }
        &-small,
        &-xsmall {
          padding-left: 10px;
        }
      }
    }
    &__filter-btn {
      border-radius: 0 28px 28px 0;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: vars.$header-search-input-height;
      background-color: vars.$background-tint;
      &--screen {
        &-large,
        &-medium,
        &-small {
          width: 100px;
        }
        &-xsmall {
          width: 50px;
        }
      }
      &-text--large {
        font-size: large;
      }
      &-text--medium {
        font-size: medium;
      }
    }
  }
  &__shopping-cart-btn {
    flex: 1;
    text-align: right;
    height: 100%;
    // &--mobile {
    //   flex: unset;
    //   text-align: unset;
    // }
  }
  &__mobile-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
