@use "/src/scss/variables/variables.scss" as vars;

.toolbar {
  height: vars.$header-height;
  justify-content: space-between;
  &__logo {
    flex: 1;
  }
  &__search-container {
    flex: 3;
    display: flex;
    justify-content: center;
    &__filter-btn {
      border-radius: 0 28px 28px 0;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: vars.$header-search-input-height;
      background-color: vars.$background-tint;
      &-text--large {
        font-size: large;
      }
    }
  }
  &__shopping-cart-btn {
    flex: 1;
    text-align: right;
    height: 100%;
  }
}

:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
