@use "/src/scss/variables/variables.scss" as vars;
$cart-total-bar-height: 50px;

.empty-cart {
  text-align: center;
  margin-top: 200px;
}

.cart-container {
  position: absolute;
  top: vars.$header-height;
  bottom: 0;
  left: 0;
  right: 0;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1000px;
  margin: auto;
  &__card {
    display: flex;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 15px 0;
  }
  &__details {
    width: 500px;
    height: 375px;
    display: flex;
    flex-direction: column;
    &__action-container {
      margin-top: auto;
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-details {
          display: flex;
          flex-direction: column;
          &-count {
          }
          &-total {
          }
        }
        &-remove {
        }
        &--text {
          &-bold {
            font-weight: bold;
          }
          &-highlight {
            color: vars.$text-color-accent;
          }
        }
      }
    }
    &__total {
      text-align: right;
      margin-top: auto;
      &--text {
        &-bold {
          font-weight: bold;
        }
        &-larger {
          font-size: larger;
        }
        &-highlight {
          color: vars.$text-color-accent;
        }
      }
    }
  }
}
.cart-checkout {
  height: $cart-total-bar-height;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  &-spacer {
    height: $cart-total-bar-height;
  }
  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-color: vars.$background-color;
    &__button {
      margin: 0 15px;
    }
    &__total-price {
      margin: 0 15px;
    }
  }
}
