@use "../../scss/variables.scss" as vars;

.item-container {
  position: relative;
}

.flex-container {
  display: flex;
  align-items: center;
}

.list-item {
  margin: 2rem 0 2rem 50%;
  transform: translateX(-50%);
  .cart-icon {
    margin: 0 !important;
  }
  .price-details-container {
    margin-left: 5rem;
    height: 10rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    .btn-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      button {
        width: 10rem;
      }
    }
  }
}

mat-divider.item-divider {
  border-top-color: #4dcfd0;
}

.total-item {
  position: absolute;
  right: 20%;
  bottom: 1rem;
}

.total-container {
  height: 5vh;
  position: fixed;
  bottom: 0;
  background-color: vars.$background-color;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  .total {
    margin-right: 5rem;
  }
}

.empty-cart {
  text-align: center;
  margin-top: 10rem;
}
