@use "/src/scss/variables/variables.scss" as vars;
$cart-total-bar-height: 50px;

.empty-cart {
  text-align: center;
  margin-top: 200px;
}

.cart-container {
  position: absolute;
  top: vars.$header-height;
  bottom: 0;
  left: 0;
  right: 0;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  &--xsmall,
  &--small {
    width: 100%;
  }
  &--medium,
  &--large,
  &--xlarge {
    width: 1000px;
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    &--xsmall,
    &--small {
      width: 320px;
    }
    &--medium,
    &--large,
    &--xlarge {
      width: 500px;
      height: 500px;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    &--xsmall,
    &--small {
      width: 320px;
    }
    &--medium,
    &--large,
    &--xlarge {
      width: 500px;
      height: 375px;
    }
    &__action-container {
      margin-top: auto;
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        &-section {
          flex: 1;
        }
        &-details {
          display: flex;

          &--xsmall,
          &--small {
            flex-direction: column;
          }
          &--medium,
          &--large,
          &--xlarge {
            flex-direction: row;
            width: 300px;
            align-items: baseline;
          }
        }
        &--text {
          &-bold {
            font-weight: bold;
          }
          &-highlight {
            color: vars.$text-color-accent;
          }
        }
      }
    }
    &__total {
      text-align: right;
      margin-top: auto;
      padding-right: 15px;
      &--text {
        &-bold {
          font-weight: bold;
        }
        &-larger {
          font-size: larger;
        }
        &-highlight {
          color: vars.$text-color-accent;
        }
      }
    }
  }
}
.cart-checkout {
  height: $cart-total-bar-height;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  &-spacer {
    height: $cart-total-bar-height;
  }
  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-color: vars.$background-color;
    &__button {
      margin: 0 15px;
    }
    &__total-price {
      margin: 0 15px;
    }
  }
}

.button-delete-item {
  padding: 0;
  &.mat-mdc-outlined-button {
    & .mat-icon {
      margin: 0;
    }
  }
}
