<app-logo class="filter-logo"></app-logo>
<div class="filter-header">
  <div class="filter-title">
    <mat-icon>filter_alt</mat-icon>
    <span i18n>Filters</span>
  </div>
  <button mat-icon-button (click)="closeDrawer()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="button-reset">
  <button mat-stroked-button aria-label="refresh" (click)="onResetFilters()" class="button--round" i18n>
    <mat-icon>refresh</mat-icon>
    Reset all
  </button>
</div>
<div [formGroup]="filtersForm" [@toggle]="toggle" class="filters-container">
  <mat-form-field class="form__filter-form-field">
    <mat-label>Rarity</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Rarity"
      matInput
      [formControl]="raritySelectCtrl"
      [matAutocomplete]="autoRarity"
    />
    @if (raritySelectCtrl.value) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="resetSelectFilter(raritySelectCtrl, autoRarity)"
    ></button>
    }
    <mat-autocomplete #autoRarity="matAutocomplete">
      @for (r of filteredRarityOptions$ | async; track r) {
      <mat-option [value]="r">
        {{ r }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="form__filter-form-field">
    <mat-label>Types</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Types"
      matInput
      [formControl]="typesSelectCtrl"
      [matAutocomplete]="autoTypes"
    />
    @if (typesSelectCtrl.value) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="resetSelectFilter(typesSelectCtrl, autoTypes)"
    ></button>
    }
    <mat-autocomplete #autoTypes="matAutocomplete">
      @for (t of filteredTypesOptions$ | async; track t) {
      <mat-option [value]="t">
        {{ t }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="form__filter-form-field">
    <mat-label>Subtypes</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Subtypes"
      matInput
      [formControl]="subtypesSelectCtrl"
      [matAutocomplete]="autoSubtypes"
    />
    @if (subtypesSelectCtrl.value) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="resetSelectFilter(subtypesSelectCtrl, autoSubtypes)"
    ></button>
    }
    <mat-autocomplete #autoSubtypes="matAutocomplete">
      @for (st of filteredSubtypesOptions$ | async; track st) {
      <mat-option [value]="st">
        {{ st }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-divider></mat-divider>
</div>

<div class="filters-bottom-spacer"></div>
