<div [formGroup]="filtersForm" [@toggle]="toggle" class="filters-container">
  <mat-form-field>
    <mat-label>Rarity</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Rarity"
      matInput
      [formControl]="raritySelectCtrl"
      [matAutocomplete]="autoRarity"
    />
    @if (raritySelectCtrl.value) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="resetSelectFilter(raritySelectCtrl, autoRarity)"
    ></button>
    }
    <mat-autocomplete #autoRarity="matAutocomplete">
      @for (r of filteredRarityOptions$ | async; track r) {
      <mat-option [value]="r">
        {{ r }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Types</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Types"
      matInput
      [formControl]="typesSelectCtrl"
      [matAutocomplete]="autoTypes"
    />
    @if (typesSelectCtrl.value) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="resetSelectFilter(typesSelectCtrl, autoTypes)"
    ></button>
    }
    <mat-autocomplete #autoTypes="matAutocomplete">
      @for (t of filteredTypesOptions$ | async; track t) {
      <mat-option [value]="t">
        {{ t }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Subtypes</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Subtypes"
      matInput
      [formControl]="subtypesSelectCtrl"
      [matAutocomplete]="autoSubtypes"
    />
    @if (subtypesSelectCtrl.value) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="resetSelectFilter(subtypesSelectCtrl, autoSubtypes)"
    ></button>
    }
    <mat-autocomplete #autoSubtypes="matAutocomplete">
      @for (st of filteredSubtypesOptions$ | async; track st) {
      <mat-option [value]="st">
        {{ st }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <span class="clear-filters-icon">
    <mat-icon (click)="onResetFilters()">highlight_off</mat-icon>
  </span>

  @if (isLoading$ | async) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-divider></mat-divider>
</div>

<div class="filters-bottom-spacer"></div>
