@use "/src/scss/variables/variables.scss" as vars;

.mat-card {
  & .mat-card-content {
    display: block;
    padding: 0;
    width: 100%;
    &__div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &.cart-actions {
        justify-content: flex-end;
      }
      &-image-container {
        height: 100%;
        width: 520px;
        display: flex;
        align-items: center;
        justify-content: center;
        &--horizontal {
          display: block;
        }
        &--xsmall {
          width: 450px;
        }
        &__image {
          height: 520px;
          &--xsmall {
            height: 450px;
          }
          &--horizontal {
            transform: rotate(90deg);
            &--xsmall {
              height: 320px;
            }
          }
        }
        // &__image--horizontal {
        //   transform: rotate(90deg) translate(190px, -335px);
        //   transform-origin: top;
        //   // &--small {
        //   //   transform: rotate(90deg) translate(190px, -205px);
        //   // }
        // }
      }
      &-details-container {
        display: flex;
        flex-direction: column;
        width: 520px;
        &--xsmall {
          width: 320px;
        }
        &-section {
          padding: 15px;
          &__text {
            &-bold {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  &--actions {
    align-items: flex-end;
    flex-direction: column;
  }
  & .prices-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__container {
      &-text {
        margin-right: 55px;
      }
    }
  }
}
