<mat-card class="mat-card mat-card--layout-horizontal mat-card--actions">
  <mat-card-actions>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content class="mat-card-content">
    <div class="mat-card-content__div cart-actions">
      <mat-list>
        @for (f of foil; track f) {
          @if (card.tcgplayer && card.tcgplayer.prices[f]?.low) {
            <mat-list-item>
              <div class="prices-container">
                <div class="prices-container__container-text">
                  {{ f | titlecase }} : {{ card.tcgplayer.prices[f]?.low | currency }}
                </div>
                <div class="prices-container__container-button">
                  @if ((screenSize$ | async) === "xsmall") {
                    <button mat-icon-button (click)="add(f)"><mat-icon>add_shopping_cart</mat-icon></button>
                  } @else {
                    <button mat-flat-button class="button--near-square" (click)="add(f)">Add to cart</button>
                  }
                </div>
              </div>
            </mat-list-item>
          }
        }
      </mat-list>
      @if (card.tcgplayer === undefined) {
        <p i18n="placeholder if no prices to display">No pricing available from TCG Player</p>
      }
    </div>
    <div class="mat-card-content__div">
      <div
        class="mat-card-content__div-image-container"
        [class]="
          'mat-card-content__div-image-container' +
          (card.isHorizontal ? '--horizontal' : '') +
          '--' +
          (screenSize$ | async)
        "
      >
        <img
          class="mat-card-content__div-image-container__image"
          [class]="
            'mat-card-content__div-image-container__image' +
            (card.isHorizontal ? '--horizontal' : '') +
            ' ' +
            'mat-card-content__div-image-container__image' +
            (card.isHorizontal ? '--horizontal--' + (screenSize$ | async) : '') +
            ' ' +
            'mat-card-content__div-image-container__image--' +
            (screenSize$ | async)
          "
          [src]="card.images.large"
          [alt]="card.name"
        />
      </div>
      <div
        class="mat-card-content__div-details-container"
        [class]="'mat-card-content__div-details-container' + '--' + (screenSize$ | async)"
      >
        <div
          class="mat-card-content__div-details-container-section"
          [class]="'mat-card-content__div-details-container' + '--' + (screenSize$ | async)"
        >
          <h3>{{ card.name }} - {{ card.set.name }}</h3>
          <h4>Product details</h4>
          <mat-list class="mat-card-content__div-details-container-section__text">
            <mat-list-item>
              <span class="mat-card-content__div-details-container-section__text-bold">Number / Rarity:</span> #{{
                card.number
              }}/{{ card.set.printedTotal }}, {{ card.rarity ?? "Promo" }}
            </mat-list-item>
            <mat-list-item class="mat-card-content__div-details-container-section__text">
              <span class="mat-card-content__div-details-container-section__text-bold">Card Type / HP / Stage:</span>
              {{ card.types }} / {{ card.hp }} /
              {{ card.subtypes }}
            </mat-list-item>
            @for (attack of card.attacks; track attack; let index = $index) {
              <mat-list-item>
                <span matListItemTitle class="mat-card-content__div-details-container-section__text-bold"
                  >Attack {{ index + 1 }}: {{ attack.name }}, cost: {{ attack | formatAttackCost }}
                  @if (attack.damage) {
                    ({{ attack.damage }})
                  }
                </span>
                <span matListItemLine>{{ attack.text }}</span>
              </mat-list-item>
            }
            <mat-list-item>
              <span class="mat-card-content__div-details-container-section__text-bold">Artist: </span>{{ card.artist }}
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
