<h2 class="dialog-title">{{ card.name }}</h2>
<mat-dialog-content class="dialog-content">
  <img [src]="card.images.large" [alt]="card.name" />
  <div>
    <div class="prices-title">Prices</div>
    <mat-list>
      @for (f of foil; track f) {
        <ng-container>
          <div class="foil-container">
            @if (card.tcgplayer && card.tcgplayer.prices[f]?.low) {
              <ng-container>
                <mat-list-item>{{ f | titlecase }} : {{ card.tcgplayer.prices[f]?.low | currency }}</mat-list-item>
                <button mat-raised-button color="primary" (click)="add(f)">
                  <mat-icon aria-hidden="false">add_shopping_cart</mat-icon>
                </button>
              </ng-container>
            }
          </div>
        </ng-container>
      }
    </mat-list>
    @if (card.tcgplayer === undefined) {
      <p i18n="placeholder if no prices to display">No pricing available from TCG Player</p>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close i18n="close button">Close</button>
</mat-dialog-actions>
