@use "/src/scss/variables/variables.scss" as vars;

.mat-card {
  height: calc(100% - vars.$header-height);
  & .mat-card-header {
    &__image-large {
      max-height: 80%;
    }
  }
  & .mat-card-content {
    &__details-container {
      & .mat-card-content__text {
        &-highlight {
          font-weight: bold;
        }
      }
    }
  }
}
