$dark-theme-palette: (
    50 : #e0f7f7,
    100 : #b3eaeb,
    200 : #80ddde,
    300 : #4dcfd0,
    400 : #26c4c6,
    500 : #26c4c6,
    600 : #00b3b6,
    700 : #00abad,
    800 : #00a3a5,
    900 : #009497,
    A100 : #c2feff,
    A200 : #8ffdff,
    A400 : #5cfbff,
    A700 : #42fbff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);