@use "@angular/material" as mat;
@import "/src/scss/fonts.scss";
@import "/src/scss/variables/variables.scss";
@import "/src/scss/themes/palettes/dark-theme.palette.scss";
@include mat.core();

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $dark-theme-palette,
    ),
    typography: (
      brand-family: $font-family,
      bold-weight: 400,
    ),
    density: (
      scale: -1,
    ),
  )
);

:root {
  @include mat.all-component-themes($dark-theme);
}
