<div class="cards-container">
  @for (card of cards$ | async; track card.id) {
    <div class="cards-container__card-item">
      <app-card-list-item [card]="card" [isLoading$]="isLoading$"></app-card-list-item>
    </div>
  } @empty {
    @if ((areAllCardsFetched$ | async) === true) {
      <h1 i18n="no cards found message">No cards found for current filters</h1>
    }
  }
  @if ((areAllCardsFetched$ | async) === false) {
    @for (i of "123"; track i; let index = $index) {
      <app-card-list-item-placeholder
        [opacity]="1 / (index + 1)"
        class="placeholder-item"
      ></app-card-list-item-placeholder>
    }
  }
</div>
