@defer {
<div class="card-container">
  <div
    (click)="openDetailDialog()"
    (mouseenter)="changeAnimationState('active')"
    (mouseleave)="changeAnimationState('default')"
  >
    <img [src]="card.images.small" [alt]="card.name" [@cardImg]="animationState" />
    @if(animationState === 'active') {
    <span class="details-icon"><mat-icon aria-hidden="false">search</mat-icon></span>
    }
  </div>
  @if (lowestPrice !== null && displayLowestPrice) {
  <p i18n="item price tag|lowest price tag for an item">
    As low as <span class="pricetag">{{ lowestPrice | currency }}</span>
  </p>
  } @if (lowestPrice === null) {
  <p i18n="placeholder if no prices to display">No pricing available</p>
  }
</div>
} @placeholder (minimum 1000ms) {
<div class="card-container">
  <ngx-skeleton-loader
    count="1"
    [theme]="{ height: '340px', width: '245px' }"
    [animation]="'progress-dark'"
    [loadingText]="'image'"
  />
  <ngx-skeleton-loader count="1" appearance="line" [animation]="'progress-dark'" [loadingText]="'loading price'" />
</div>
}
