@use "/src/scss/variables/variables.scss" as vars;

.mat-card {
  width: 445px;

  &--screen {
    &-xsmall,
    &-small {
      width: 245px;
      height: 540px;
      flex-direction: column;
      &--horizontal {
        width: 235px;
        height: 350px;
      }
    }
  }

  &--horizontal {
    margin-top: 25%;
    -webkit-transform: rotate(90deg) translatez(0) translateX(-50px);
    transform: rotate(90deg) translatez(0) translateX(-50px);
    -webkit-transform-origin: 50% 51%;
    transform-origin: 50% 51%;
  }

  & .mat-card-header {
    &__image {
      max-height: 342px;

      &--horizontal {
        margin-top: 25%;
        transform: rotate(90deg) translatez(0) translateX(-50px);
        transform-origin: 50% 51%;
        &--screen {
          &-small,
          &-xsmall {
            margin-top: 25%;
            transform: rotate(90deg) translate(-92px, -33px);
            transform-origin: unset;
            position: absolute;
            height: 233px;
          }
        }
      }
    }
    &__details-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      & mat-icon {
        transform: scale(2);
      }
    }
  }

  & .mat-card-content {
    margin: auto 0 auto 0;
    &--horizontal {
      &--screen {
        &-small,
        &-xsmall {
          margin-top: 160px;
        }
      }
    }
    &__pricetag {
      color: vars.$text-color-accent;
    }
    &--horizontal {
      -webkit-transform: rotate(-90deg) translatez(0);
      transform: rotate(-90deg) translatez(0);
    }
  }
}
