@defer (when !(isLoading$ | async)) {
  <mat-card
    (click)="openDetailDialog()"
    (mouseenter)="changeAnimationState('active')"
    (mouseleave)="changeAnimationState('default')"
    appearance="outlined"
    class="mat-card__card-slim mat-card__horizontal list-item__mat-card"
  >
    <mat-card-header class="mat-card-header">
      <img
        [src]="card.images.small"
        [alt]="card.name"
        [className]="card.rarity === 'Rare BREAK' ? 'mat-card-header__image-break' : ''"
        [@cardImg]="animationState"
      />
      @if (animationState === "active") {
        <span class="mat-card-header__details-icon"><mat-icon aria-hidden="false">search</mat-icon></span>
      }
    </mat-card-header>
    <mat-card-content class="mat-card-content">
      @if (lowestPrice !== null && displayLowestPrice) {
        <p>{{ card.set.name }}</p>
        <p>{{ card.rarity ?? "Promo" }}, #{{ card.number }}/{{ card.set.printedTotal }}</p>
        <p>{{ card.name }}</p>
        <p class="mat-card-content__price-text" i18n="item price tag|lowest price tag for an item">
          Prices from <span class="mat-card-content__pricetag">{{ lowestPrice | currency }}</span>
        </p>
      }
      @if (lowestPrice === null) {
        <p i18n="placeholder if no prices to display">No pricing available</p>
      }
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
} @loading (minimum 200ms) {
  <app-card-list-item-placeholder class="list-item__mat-card"></app-card-list-item-placeholder>
}
