@use "/src/scss/themes/theme.scss";
@use "/src/scss/variables/variables.scss" as vars;
@import "/src/scss/components/am-components/am-form-field";
@import "/src/scss/components/am-components/am-sidenav";
@import "/src/scss/components/am-components/am-button";
@import "/src/scss/components/am-components/am-spinner";
* {
  font-family: vars.$font-family;
}
html {
  margin: 0;
  font-family: vars.$font-family;
  background-color: vars.$background-color;
  color: vars.$text-color;
}
