@use "./scss/themes/theme.scss";
@use "./scss/variables/variables.scss" as vars;
@import "/src/scss/components/am-components/am-form-field";
@import "/src/scss/components/am-components/am-sidenav";
body {
  margin: 0;
  font-family: vars.$font-family;
  background-color: vars.$background-color;
  color: vars.$text-color;
}
