@use "/src/scss/variables/variables.scss" as vars;
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.drawer-container {
  height: 100%;
}
