<div class="container">
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.rem]="(mobileQuery | async)?.matches ? 4 : 4"
  >
    <mat-sidenav
      #snav
      [mode]="(mobileQuery | async)?.matches ? 'over' : 'side'"
      [fixedInViewport]="(mobileQuery | async)?.matches"
      fixedTopGap="56"
    >
      <app-filter-cards class="filters-container"></app-filter-cards>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-card-list></app-card-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
