<div class="container">
  <mat-drawer-container [style.marginTop.rem]="0" class="drawer-container" [autosize]="true">
    <mat-drawer
      #filtersNav
      fixedTopGap="56"
      [opened]="isFiltersDrawerOpen$ | async"
      [position]="'start'"
      [class]="(isSmallScreen$ | async) ? 'drawer-small' : ''"
    >
      <app-filter-cards class="filters-container" (closeDrawerEvent)="closeFiltersDrawer()"></app-filter-cards>
    </mat-drawer>
    <mat-drawer
      #detailsNav
      [class]="'mat-drawer__details-drawer--screen-' + (screenSize$ | async)"
      [mode]="'over'"
      fixedTopGap="56"
      [opened]="isFiltersDrawerOpen$ | async"
      [position]="'end'"
    >
      @if (detailsCard) {
        <div class="header-spacer"></div>
        <app-card-detail [card]="detailsCard" (closeDrawerEvent)="detailsNav.close()"></app-card-detail>
      }
    </mat-drawer>
    <mat-drawer-content cdkScrollable>
      <div class="header-spacer"></div>
      <app-card-list></app-card-list>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
@if ((canScrollToTop$ | async) && !(isDetailsDrawerOpen$ | async)) {
  <app-return-to-top-button (returnToTop)="scrollToTop()"></app-return-to-top-button>
}
